
.navBar {
    background-color: #F0EEEC;
}

.logo {
    padding: 1%;
}

.navigation {
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-evenly;


}

.heroImg {
  height: 350px;
  padding: 25px;
  background-color: #D2972A;

}

.content {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
   background-color: rgba(210, 151, 42, 0.10);
   padding: 1%;
   text-align: center;

}
.p {
    font-family: Piazolla, Arial, Helvetica, sans-serif;
}
  